.split {
  display: flex;
  gap: var(--default-gap);
  flex-flow: row wrap;

  &.vertical {
    flex-flow: column;
  }

  & > * {
    flex: 1;
  }
}

.right { text-align: right; }
.float-right { float: right; margin: 0 0 2rem 2rem; }

.accent { color: var(--accent-color); }

.fill {
  width: 100%;
  flex: 1 100%;
}

.details {
  font-size: 0.85rem;
}

.flexed {
  flex: 1;
}

.centered {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
